body {
  margin: 0;
  padding: 0;
}

.topspace {
  height: 100px;
  width: 100px;
  background: #EE8;
}

.col-sm-8 {
  margin: 0 auto;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#background-map {
  background: blue;
  z-index: 1;
}

#sprite-map {
  background: transparent;
  z-index: 10;
}
